{%- comment -%}
Slim footer: one row (description + social icons on the left, credits on the right)
Remove the tall "up-to-top" row. If you want to keep it, see note below.
{%- endcomment -%}

<footer id="footer-content" class="bg-grau">
  <div id="footer">
    <div class="row">
      <div class="medium-8 columns">
        <h5 class="shadow-black">{{ site.data.language.info_website }}</h5>
        <p class="shadow-black">
          {{ site.description }}
          <a href="{{ site.url }}{{ site.baseurl }}/">{{ site.data.language.more }}</a>
        </p>

        <ul class="inline-list social-icons">
          {% for social_item in site.data.socialmedia %}
            <li>
              <a href="{{ social_item.url }}" target="_blank"
                 class="{{ social_item.class }}" title="{{ social_item.title }}"></a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="medium-4 columns text-right">
        <div class="credits">
          {{ site.credits }}
        </div>
      </div>
    </div>
  </div>
</footer>

